a:hover{
    text-decoration: none;
    color: #000；
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
iframe{
    border: none;
    width: 100%;
    height: 100%;
}
.container-wider{
    margin: 0 auto;
    padding: 0;
}
.top{
    height: 4.4rem;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}
.logo{
    display: block;
    margin: 34px auto;
}
.nav{
    margin-top: 4.4rem;
    padding-bottom: 34px;
}
.nav>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav a{
    font-size: .75rem;
    letter-spacing: 1px;
    color: #000;
}
.nav a:hover{
    color: #ff3399;
}
.iframeCont{
    transition: all 0.5s ease-out;
    padding: 0;
}

footer{
    font-size: .875rem;
    letter-spacing: 2px;
    background-color: #000;
    color: #fff;
}
footer a{
    color: #fff;
}
.input{
    height: 35px;
    width: 70%;
    margin: 10px 0;
    padding: 7px 8px;
    border: 0;
    background-color: #fff;
}
.input>input{
    border: 0;
    height: 100%;
    display: block;
    float: left;
    color: #ff3399;
}
.input>input:focus{
    outline: none;
}
.goEmail{
    color: #000;
    z-index: 100;
    float: right;
    line-height: 21px;
    z-index: 10;
}
.goEmail:hover{
    color: #f39;
}
.contact{
    overflow: visible;
    padding: 2rem 0 1rem 0;
}
.goMap,
.contact>li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}
.map{
    padding: 6px;
}
.hover{
    cursor: pointer;
}
.hover:hover{
    color: #ff3399;
}
.tmall>div{
    min-height: 30px;
    min-width: 141px;
    background-image: url('../img/tmall.png');
    background-repeat: no-repeat;
    background-position: center 0%;
}
.tmall:hover>div{
    background-position: center 100%;
}
.wechat{
    margin-top: 16px;
    position: relative;
}
.wechat>i:nth-child(2){
    cursor: pointer;
}
.wechat>img{
    transition: all .6s ease-out;
    top: -190px;
    position: absolute;
    transform: scale(3);
    z-index: -1;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #000;
    opacity: 0;
}
.wechat>i:nth-child(2):hover + img{
    z-index: 100;
    opacity: 1;
}
.tel{
    display: flex;
    justify-content: space-around;
    padding-bottom: 4rem;
}
.copy{
    padding: 25px 0;
    background-color: #fff;
    color: #000;
}
.copy>small{
    display: block;
    text-align: center;
    cursor: default;
}