<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
				<style type="text/css">
.cy{
	width: 33%;		
			}
.c{
font-family: "楷体";
font-size: 20px;
color: #202021d9;
}
.v{
	color: #202021d9;
}
		</style>
	</head>
	<body>
		<img src="../img/63548d94ly1fl3rlixxezj21kw20cb2a.jpg"/ class="cy">
		<img src="../img/63548d94ly1fl3rljk7k4j21kw20ckjm.jpg"/  class="cy">
		<img src="../img/006uyAHKgy1flsbay3jfrj31kw20cncl.jpg"/  class="cy">
		<h2 class="v">陈瑜</h2>
		<p class="c"><b>19岁 法籍华裔
		<br />
	     陈瑜（Estelle Chen）是出生在法国巴黎的模特新人，父母都是中国人。陈瑜至今未满20岁，她与这个行业接触的时候纲刚刚升高中只有15、16岁。陈瑜参加了2013年的"Elite世界模特精英大赛"，代表法国赛区参加决赛，入选了15强。因其作为唯一的华人面孔出现在迪奥（Dior）2015秋冬高级定制秀场上而备受关注。
		</b>
		</p>
			<script src="../js/common.js"></script>
	</body>
</html>
