<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>订阅官方电子通讯_维密中国官网</title>
		<style>
			h1{
				margin: 0;
			}
		</style>
	</head>

	<body>
		<div class="dy">
			<h1>订阅官方电子通讯</h1>
			<br />
			<h3>抢先获取Victoria's Secret最新优惠,
				<br />
			了解更多新品、门店活动及开业信息。</h3>
			<form action="#" method="post" >
				<input type="text" style="width:10% ; height: 30px;" placeholder="名字"/> &nbsp &nbsp &nbsp;
				<input type="text" style="width:10% ;height: 30px;" placeholder="姓氏" />
				<br />
				<br />
				<input type="text" style="width:22.4% ;height: 30px;" placeholder="邮箱" />
				<br />
				<br />
				<input type="text" style="width:22.4% ;height: 30px;" placeholder="电话" />
				<br />
				<br />
				<br />
				<input type="checkbox" name="xy1" value="1" />我同意通过邮件和手机短信接收Victoria's Secret的宣传推广和促销活动信息。
				<br />
				<input type="checkbox" name="xy2" value="2" />我确认已阅读和接受
				<a href="yinsi.html">隐私条款</a>，并且同意Victoria's Secret出于隐私条款中规定
				<br /> &nbsp &nbsp;的目的收集、使用和传输我的个人信息。
				<br /><br /><br /><br />

				<img src="../img/1515295515.png" / width="13%" height="3%">
			</form>
		</div>
		<script src="../js/common.js"></script>
	</body>
</html>