<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>订阅官方电子通讯_维密中国官网</title>
		<link rel="stylesheet" type="text/css" href="../css/weimidingyue.css" />
	</head>

	<body>
		<div class="dy">
			<p>订阅官方电子通讯</p>
			<br />
			<p id="xx">抢先获取Victoria's Secret最新优惠,
				<br />&nbsp&nbsp;了解更多新品、门店活动及开业信息。</p>
			<br />
			<form class="form" action="#">
				<input type="text" style="width:10% ; height: 30px; required=required;" placeholder="名字" /> &nbsp &nbsp &nbsp;
				<input type="text" style="width:10% ; height: 30px; required=required;" placeholder="姓氏" />
				<br />
				<br />
				<input type="email" style="width:23.4% ;height: 30px; required=required;" placeholder="邮箱" />
				<br />
				<br />
				<input class="asd" type="text" style="width:23.4% ;height: 30px ; required=required;" placeholder="电话" />
				<br />
				<br />
				<br />

				<div class="label">

					<label class="flex-middle"><input type="checkbox"/><span id="xy1">我同意通过邮件和手机短信接收Victoria's Secret的宣传推广和促销活动信息。</span></label>
					<br /><br />
					<label class="flex-middle"><input type="checkbox"/><span id="xy2">我确认已阅读和接受<a href="yinsi.html" id="ys">隐私条款</a>，并且同意Victoria's Secret出于隐私条款中规定</span>
	    	<br />
	    	</label>
				</div>
				<span id="xy3">的目的收集、使用和传输我的个人信息。</span>

				<br /><br /><br /><br />

				<img src="../img/1515295515.png" / width="13%" height="3%">
			</form>
		</div>
		<script src="../js/common.js"></script>
	</body>

</html>