<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>何穗</title>
		<style type="text/css">
			.he1 {
				width: 33%;
			}
			
			.j {
				font-family: "楷体";
				font-size: 20px;
				color: #202021d9;
			}
			
			.z {
				color: #202021d9;
			}
		</style>
	</head>

	<body>
		<div>
			<img src="../img/8601a18b87d6277fc961b3d923381f30e824fce4.jpg" / class="he1">
			<img src="../img/a9d3fd1f4134970a5e1f650792cad1c8a7865dad.jpg" / class="he1">
			<img src="../img/30adcbef76094b3601a6930ca8cc7cd98d109d1f.jpg" / class="he1">
		</div>
		<h2 class="z">何穗</h2>
		<p class="j"><b>1989年9月23日 浙江-温州 中国
		<br />
		2011年2月，何穗亮相秋冬纽约时装周，作为开场模特为拉夫·劳伦走秀，接着又成为了谭燕玉的开闭场模特，随后连续四次登上维多利亚的秘密年度大秀，成为继刘雯之后第二个登上维秘大秀的东方超模。 2015年5月1日，由黄晓明、杨幂领衔主演的电影《何以笙箫默》在中国上映，何穗在片中出演模特萧筱 。
		</b>
		</p>
		<script src="../js/common.js"></script>
	</body>

</html>