<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.lw {
				width: 33%;
			}
			
			.c {
				font-family: "楷体";
				font-size: 20px;
				color: #202021d9;
			}
			
			.v {
				color: #202021d9;
			}
		</style>
	</head>

	<body>
		<img src="../img/f7246b600c3387448b10c58d5a0fd9f9d62aa06e.jpg" / class="lw">
		<img src="../img/2cf5e0fe9925bc31c627c16955df8db1ca1370cd.jpg" / class="lw">
		<img src="../img/4610b912c8fcc3ce15ab15c29945d688d53f20dc.jpg" / class="lw">
		<h2 class="v">刘雯</h2>
		<p class="c"><b>1988年1月27日 湖南永州 中国
		<br />
	     刘雯（Liu Wen），1988年1月27日出生，湖南永州人，中国模特。
2009年，作为第一个亚洲模特登上“维多利亚的秘密”内衣秀。继2011年之后再度入榜男性网站ASKMEN评选出的2012年度全球最美的99人。2013年8月29日，在模特网站MDC top50 公布的榜单上位列第三。2013年11月，荣获ELLE风尚大典“ELLE国际偶像超模”。2014年7月26日，入选MDC “New Supers”全球新超模榜单，成为首位进入“New Supers”榜单的亚裔模特。 2014年在福布斯公布的全球模特收入榜中，以700万美元与米兰达·可儿、凯特莫斯并列第三。
		</b>
		</p>
		<script src="../js/common.js"></script>
	</body>

</html>