<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>美妆</title>
	</head>
	<body>
		      <div>
			<img src="../img/1a.jpg"/>
		</div>
		<div style="position:absolute;top:239px ;">
			<img src="../img/2a.jpg"/></div>
		<div style="position:absolute;top:435px;">
			<img src="../img/3a.jpg"/>
		</div>
		<div style="position:absolute;top:9px;left:213px;">
			<img src="../img/4a.jpg"/>
		</div>
		<div style="position:absolute;top:485px;left:250px;">
			<img src="../img/51a.jpg"/>
		</div>
		<div style="position:absolute;top:440px;left:230px;">
			<img src="../img/52a.jpg"/>
		</div>
		<div style="position:absolute;top:440px;left:500px;">
			<img src="../img/5a.jpg"/>
		</div>
		<div style="position:absolute;top:9px;left:750px;">
			<img src="../img/7a.jpg"/>
		</div>
			<div style="position:absolute;top:9px;left:950px;">
			<img src="../img/8a.jpg"/>
		</div>
		<div style="position:absolute;top:340px;left:755px;">
			<img src="../img/101.jpg"/>
		</div>
		<div style="position:absolute;top:340px;left:985px;">
			<img src="../img/9a.jpg"/>
		</div>
	</body>
</html>
