<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>美妆</title>
		<link rel="stylesheet" href="../css/mobi.3.1.1.css">
		<style>
		*{
			padding-left:10px ;
		}
		.colImg{
        	display:flex;
        	flex-direction:column;
        	

   
        }
        .flex-center {
    padding:5px;
 
}
.col-lg-1{
	padding-top:5px;
	padding-left:40px ;
}
.col-lg-3{padding-top:10px;

}
.col{padding-top:10px;

	
}
		</style>
	</head>
	<body>
		<div class="flex-center">
			<div class="unit-2-3">
				<div class="flex-center">
					<div class="unit-1-4 colImg">
						<img src="../img/1a.jpg" onMouseOver="this.src='../img/1b.jpg'" onMouseOut="this.src='../img/1a.jpg'"/>
						<img src="../img/2a.jpg" onMouseOver="this.src='../img/2b.jpg'" onMouseOut="this.src='../img/2a.jpg'"/>
						<img src="../img/52b.png"/>
					</div>
					<div class="unit-2-3 col-lg-1">
					<a href="https://victoriassecretcn.tmall.com/?spm=a1z10.3-b-s.w5001-16680827709.4.43bfb9d4bE9m2W&scene=taobao_shop">	
						<img src="../img/4a.jpg" height="400px" onMouseOver="this.src='../img/4b.jpg'" onMouseOut="this.src='../img/4a.jpg'"/></a>
					</div>
				</div>
				<div class="flex-center">
						<div class="unit-1-3 col"><img src="../img/8b.jpg" onMouseOver="this.src='../img/8a.jpg'" onMouseOut="this.src='../img/8b.jpg'"/></div>
				       		<div class="unit-1-3 col"><img src="../img/01a.jpg" height="290px" onMouseOver="this.src='../img/9b.jpg'" onMouseOut="this.src='../img/01a.jpg'"/></div>
							<div class="unit-1-3 col"><img src="../img/7a.jpg" onMouseOver="this.src='../img/7b.jpg'" onMouseOut="this.src='../img/7a.jpg'"/></div>
					
				</div>
			</div>
			<div class="unit-1-3 col-lg-3">
				<img src="../img/11a.jpg" onMouseOver="this.src='../img/11b.jpg'" onMouseOut="this.src='../img/11a.jpg'"/>
		<img src="../img/12a.jpg" onMouseOver="this.src='../img/12b.jpg'" onMouseOut="this.src='../img/12a.jpg'"/>
		<img src="../img/111a.jpg" onMouseOver="this.src='../img/111b.jpg'" onMouseOut="this.src='../img/111a.jpg'"/>
		</div>



		<script src="../js/common.js"></script>
	</body>
</html>
