<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>美妆</title>
		<link rel="stylesheet" href="../css/mobi.3.1.1.css">
		<style>
		.colImg{
        	display: flex;
        	flex-direction: column;
        	 padding:5px;
    padding-right:30px;
   
        }
        .flex-center {
    padding:5px;
    padding-right:5px;
}
.col-lg-1{
	padding-top:5px;
}
.col-lg-3{padding-top:10px;
	padding-left:5px;
}
		</style>
	</head>
	<body>
		<div class="flex-center">
			<div class="unit-2-3">
				<div class="flex-center">
					<div class="unit-1-4 colImg">
						<img src="../img/1a.jpg"/>
						<img src="../img/2a.jpg"/>
						<img src="../img/52b.png"/>
					</div>
					<div class="unit-2-3 col-lg-1">
					<a href="https://victoriassecretcn.tmall.com/?spm=a1z10.3-b-s.w5001-16680827709.4.43bfb9d4bE9m2W&scene=taobao_shop">	<img src="../img/4a.jpg"/></a>
					</div>
				</div>
				<div class="flex-center">
						<div class="unit-1-3"><img src="../img/8b.jpg"/></div>
				       		<div class="unit-1-3"><img src="../img/01a.jpg"/></div>
							<div class="unit-1-3"><img src="../img/7a.jpg"/></div>
					
				</div>
			</div>
			<div class="unit-1-3 col-lg-3">
				<img src="../img/11a.jpg"/>
		<img src="../img/12a.jpg"/>
		<img src="../img/111a.jpg"/>
		</div>



		<script src="../js/common.js"></script>
	</body>
</html>
