<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>sport</title>
		<style type="text/css">
        .a{
        	position: absolute;
        	top: 12px;
        	left: 258px;
        }
        .b{
        	position: absolute;
        	top: 606px;
        	left: 258px;
        }
        .c{
        	position: absolute;
        	top: 606px;
        	left: 510px;
        }
        .d{
        	position: absolute;
        	top: 10px;
        	left: 761px;
        }
		</style>
	</head>
	<body>
        <div>
        	<img src="../img/3.jpg"/>
        </div>
        <div>
        	<img src="../img/4.jpg"/>
        </div>
        <div>
        	<img src="../img/5.jpg"/>
        </div>
        <div class="a">
        	<img src="../img/8.jpg"/>
        </div>
        <div class="b">
        	<img src="../img/6.jpg" />
        </div>
        <div class="c">
        	<img src="../img/7.jpg" />
        </div>
        <div class="d">
        	<img src="../img/9.jpg" />
        </div>
	</body>
<script src="../js/common.js"></script>
</html>
