<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>维密天使</title>
		<link rel="stylesheet" type="text/css" href="../css/weimimingdan.css" />
			
		</style>
	</head>

	<body>
		<div class="bgi">
			<img src="../img/homepageKV.jpg"/ style="width: 100%;">
			<div class="list">
				<ul class="list_ul">
					<li><h4>维密天使</h4></li>
					<li>中国模特
					<div class="content_01">
						<a href="hesui.html">何穗</a>
						<br /><br />
						<a href="liuwen.html">刘雯</a>
						<br /><br />
						<a href="ximengyao.html">奚梦瑶</a>
						<br /><br />
						<a href="juxiaowen.html">雎晓雯</a>
						<br /><br />
						<a href="chenyu.html">陈瑜</a>
						<br /><br />
						<a href="xiexin.html">谢欣</a>
					</div></li>
					<li>巴西模特
					<div class="content_02">
						阿德里亚娜·利马 Adriana Lima
						<br /><br />
						亚历山大·安布罗休Alessandra Ambrósio
						<br /><br />
						莱斯·里贝罗Lais Ribeiro
						<br /><br />
						芭芭拉·菲亚略Barbara Fialho
					</div></li>
					<li>美国模特
					<div class="content_03">
						莉莉·奥尔德里奇Lily Aldridge
						<br /><br />
						玛莎·亨特 Martha Hunt
						<br /><br />
						卡莉·克劳斯Karlie Kloss
						<br /><br />
						瓦妮莎·穆迪 Vanessa Moody
						<br /><br />
						拉梅卡·福克斯Lameka Fox
						<br /><br />
						贝拉·哈迪德Bella Hadid
						<br /><br />
						艾登·柯蒂斯Aiden Curtiss
					</div>
					</li>
					<li>荷兰模特
					<div class="content_04">
						艾尔莎·霍斯卡Elsa Hosk
						<br /><br />
						坎蒂丝·斯瓦内普尔Candice Swanepoel
						<br /><br />
						约瑟芬·斯可瑞娃Josephine Skriver
						<br /><br />
						萨拉·桑帕约 Sara Sampaio
						<br /><br />
						斯特拉·麦克斯韦Stella Maxwell
						<br /><br />
						格鲁吉亚福勒Georgia Fowler
						<br /><br />
                        布兰卡帕迪拉Blanca Padilla
                        <br /><br />

					</div>
					</li>
					<li>英国模特
					<div class="content_05">
                        布兰卡帕迪拉 Blanca Padilla
                        <br /><br />
                         玛丽亚博格斯Maria Borges
                        <br /><br />
                        格鲁吉亚福勒Georgia Fowler
                        <br /><br />
                        莉米安迪森Leomie Anderson
                        <br /><br />
                        蕾米安德森Leomie Anderson
					</div>
					</li>
					<li>其他模特
					
					<div class="content_06">
						艾尔莎·霍斯卡Elsa Hosk
						<br /><br />
						约瑟芬·斯可瑞娃Josephine Skriver
						<br /><br />
						萨拉·桑帕约 Sara Sampaio
						<br /><br />
						斯特拉·麦克斯韦Stella Maxwell
						<br /><br />
						卡莉·克劳斯Karlie Kloss
						<br /><br />
						梅根·威廉姆斯Megan Williams
						<br /><br />
						布鲁纳·利奥Bruna Lirio
					</div></li>
				</ul>

			</div>
		</div>
		<script src="../js/common.js"></script>
	</body>

</html>