<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>谢欣</title>
				<style type="text/css">
.xx{
	width: 33%;		
			}
.c{
font-family: "楷体";
font-size: 20px;
color: #202021d9;
}
.v{
	color: #202021d9;
}
		</style>
	</head>
	<body>
		<img src="../img/65ab7d5aly1fmw9joy9hmj21yd2idu15.jpg"/class="xx">
		<img src="../img/006ZIlBxly1fm8ikt9r59j312c1jkkjm.jpg"/class="xx">
		<img src="../img/65ab7d5aly1fmw9jlqdkej21yd2i64qu.jpg"/class="xx">
		<h2 class="v">谢欣</h2>
		<p class="c"><b>1995年7月2日 广东 中国
		<br />
        是国内著名模特经纪公司 SMG 旗下的独家签约模特，谢欣自如演绎各类美妆造型，气场强大，也展示出自己作为专业模特过硬的的硬照水平。目前谢欣共走过 Giambattista Valli 2016 春季高级定制系列，Miu Miu 2016 早秋系列，Moncler Gamme Rouge 2016 秋冬系列，Ulyana Sergeenko 2016 秋季高级定制系列，Georges Hobeika 2016 秋季高级定制系列，以及今年 5 月，在北京举行的 PEACEBIRD WOMEN 太平鸟女装 2017 秋冬成衣系列，共计 6 场国际大秀。2016 年 1 月，才首次等上国际时装周的舞台。1995 年出生的她才只有22岁，未来还有无限可能，现在有了维密加持，今后的选择会更加广阔。
		</b>
		</p>
		
			<script src="../js/common.js"></script>
	</body>

</html>
