<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>奚梦瑶</title>
		<style type="text/css">
.xmy{
	width: 33%;		
			}
.c{
font-family: "楷体";
font-size: 20px;
color: #202021d9;
}
.v{
	color: #202021d9;
}
		</style>
	</head>
	<body>
		<img src="../img/96dda144ad3459829fdce81705f431adcaef84e4.jpg"/class="xmy">
		<img src="../img/e824b899a9014c08b3842520037b02087af4f4fc.jpg"/class="xmy">
		<img src="../img/68b2262fly1fll24ka0gpj21w62mc7wi.jpg"/class="xmy">
		
				<h2 class="v">奚梦瑶</h2>
		<p class="c"><b>1989年3月8日 上海市 中国
		<br />
	     2009年，参加东方卫视选秀娱乐节目《加油！东方天使》的比赛，获得上海赛区五强；同年，奚梦瑶进入第26届世界精英模特大赛总决赛前15名，从此踏上模特之路。2010年，参加巴黎秋冬高级定制，之后作为史上首位亚洲模特登上Givenchy全球广告。2012年，任春夏上海时装周代言人。2013年11月，作为第四位亚洲超模登上维多利亚的秘密秀场；12月2日，参加伦敦举办的2014维多利亚的秘密年度内衣秀。2015年8月，参加时尚互动真人秀《爱上超模》第二季。2016年3月，参加浙江卫视综艺节目《二十四小时》；8月参演奇幻冒险动作大片《勇士之门》。2016年7月至10月，作为常驻嘉宾参与湖南卫视生活体验秀综艺节目《我们来了》。11月，在巴黎四登维多利亚的秘密秀场
		</b>
		</p>
		
			<script src="../js/common.js"></script>
	</body>
</html>
