<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Victoria’s Secret: The Sexiest Bras,Lingerie& Women’s Fashion</title>
	</head>
	<body>
<h4>隐私</h4>
<h4>我们的隐私政策</h4>

<h4>最近更新日期：2016年5月19日</h4>

我们尊重您的隐私，并努力根据我们运营所在国家的适用法律保护您的个人信息。除另有说明外，本政策仅适用于通过我们品牌和
业务的网站、微型网站或移动网站收集的、明确采用、显示或链接本政策的个人客户信息。在本政策中，我们可能将Victoria’s 
Secret称为“我们”或“我们的”。
我们的隐私政策有助于您了解我们如何收集、管理并存储您的个人客户信息。我们还说明了我们会在何种情况下共享您的信息以及
我们采用何种安全措施存储该等数据。 我们保留根据我们开展运营所在的每个国家的隐私法律，全权决定随时全部或部分变更、
修改、更新、增加、中止、删除或以其他方式改变本隐私政策的任何部分的权利。我们修订本隐私政策时，会修改位于本隐私政策
页首的“最近更新”日期。
<h4>第1条 - 资料收集与同意</h4>
我们通过我们的商店、网上商店或在客户购物时收集个人客户信息。收集的信息包括但不限于姓名、联络详情、人口统计数据及支
付详情（如果发生交易）。 我们所有书面或电子的记录点均含有您选择同意记录的授权。我们可能将线上收集的信息与线下收集
的信息合并。
您为完成交易、核实信用卡、下订单、安排交货或退还所购商品而向我们提供个人客户信息时，默示您同意我们收集您的资料并将
其用于本隐私政策所载的目的。 如果您注册订阅电子邮件但之后改变主意，您可以通过向HelloVictoria.cn@lb.com发送主题
为“退订”的电子邮件或点击我们任何电子邮件的退订链接，撤销您的同意。
<h4>第2条 - 我们使用资料的用途</h4>

我们向您收集的信息可能被用于下述用途：<br />
1. 满足您的产品和服务要求
<br />
2. 为您更新您的订单情况
<br />
3. 向您告知我们的新商店、产品及服务
<br />
4. 适当情况下的市场研究
<h4>第3条 - 信息披露</h4>
收集的关于您的信息可能在下述情况下披露或披露给下述实体：
1. 如果法律要求我们披露
2. 披露给我们在全球的子公司和关联公司
3. 披露给下述第三方服务提供商
4. 根据法律允许，披露给其他市场营销人员，您指示我们不得披露的除外。如果我们作此披露，付款信息永远不会作为共享信息的一部分
5. 如果我们出售或转让全部或部分业务资产，包括品牌或业务。在此情况下，消费者信息可能属于因交易而转让的业务资产之
一。 您通过我们的任何社交媒体渠道提交的内容和信息可能出现在我们的任何网站，我们对任何该等平台的隐私实践概不负责。
<h4>第4条 - 付款</h4>
我们使用的所有直接支付网关均遵守由支付卡行业安全标准委员会管理的支付卡行业数据安全标准（PCI-DSS），该委员会由
Visa、MasterCard、American Express和Discover等品牌共同创建。
PCI-DSS要求有助于确保我们商店及其服务提供商安全处理信用卡信息。
<h4>第5条 - 关联公司与第三方服务提供商</h4>
为向您提供服务，我们可能与我们在全球的子公司和关联公司或受雇履行营销、付款、订单履行和交付等职能的第三方服务提供商
共享您的个人客户信息。该等服务提供商须遵守保密义务并仅可将个人客户信息用于履行必要的职能而非其他目的。如果任何该等
第三方服务提供商违反该等保密义务，我们概不负责。
<h4>第6条 - 安全</h4>
为保护您的个人客户信息，我们采取合理的预防措施并遵循公认的行业惯例，以确保信息不会被不当丢失、滥用、访问、披露、篡
改或销毁。 如果您向我们提供您的信用卡信息，信息会以安全套接层（SSL）技术加密并以AES-256加密方式存储。虽然没有一种
网络传输或电子存储方法百分之百安全，我们遵守所有PCI-DSS要求并执行额外的公认行业标准。

<h4>第7条 – COOKIES</h4>
cookie是储存于用户电脑上用于保存记录的小型文本文档。 
我们在本网站上也使用了cookies。我们会将cookies中储存的信息与您在访问我们网站期间提交的任何个人身份识别信息关联起来。
会话ID cookies和持久cookies，这两种cookies我们都使用。我们使用会话cookies的目的，是为了确保您能更方便、更安全地浏
览我们网站。一旦您关闭您的浏览器，会话ID cookie即到期，而持久cookie却将在很长一段时间内留在您的硬盘上。您可以按照
您互联网浏览器的“帮助”文档中提供的指示来删除持久cookies。关于cookies的介绍可在以下网站查阅：http://www.cookiecentral.com/。
我们使用会话cookies来储存用户的安全会话和浏览偏好。我们设置了一个持久cookie来储存您的用户名称和喜好，所以这些信息
您只需输入一次即可。持久cookies还可以使我们能够跟踪和锁定用户的喜好，以提升用户对我们网站的体验。 如果您拒绝cookies，
您仍可以使用我们的网站，但您使用我们网站上的某些部位可能会受到限制。在购物袋功能中使用Cookies，是为了提升安全性并
确保不会有基于URL的垃圾邮件。除非您自愿提供您的身份（例如通过注册），否则，就算我们给您的电脑分配了一个cookie，我们也不会知道您的身份。cookie
中可以包含的唯一个人信息就是您自己提供的信息（例如作为访客交易或将物品添加到购物袋中）。cookie是无法从您的硬盘中读取其他数据的。
我们通过合约聘请第三方广告公司在其他网站和在线服务平台上向您提供定制的在线展示内容和横幅广告。为此，这些第三方公司
设置、使用或依赖cookies、网络信标、设备识别符等技术和其他类似技术来获取关于客户通过我们网站与我们互动以及与其他网
站互动的信息。这些公司利用其采集到的信息向您发送以您的喜好为目标的广告。 关于这些第三方广告公司参与的选择退出方案
以及选择退出后果的信息，请点击以下链接：NAI Opt Out 或 DAA Opt Out。您还可以点击通过使用这些技术发送的我们某些
广告上可能显示的偏好图标。您还需要注意，我们的系统不能识别来自网络浏览器的“请勿跟踪（Do Not Track）”标签。 我们
确实会在电子邮件地址的采集点页面上使用cookies，但我们不会在电子邮件中使用cookies。当您访问我们的网站时，我们的网络服务器会自动采集关于您的电脑与互联网连接的有限信息（包括您的IP地址）。（您的IP地址
是一个数字，这一数字能让与互联网连接的电脑知道往哪儿向您发送数据 - 例如您浏览的网页。）您的IP地址无法识别出您的身
份。我们利用这一信息在您要求时向您交付我们的网页、按照我们客户的喜好定制我们的网站、测量我们网站内的流量情况并让广
告商知道我们的访客来自哪个地理区域。我们可以在本网站中加入连接到其他网站的链接。这些网站受到其各自隐私政策的约束，
这些隐私政策不在我们的控制范围内。一旦您离开了我们的服务器（通过查看您浏览器的地址栏中的URL，您可以知道自己的位置），
您所提供的任何信息的使用将适用您之后所访问网站的运营商的隐私政策。该等隐私政策可能与我们的隐私政策有所不同。如果您无法
通过该网站主页上的链接找到这些网站的隐私政策，您应当直接与该网站联系以获取更多信息。

<h4>第8条 – 电脑数据的采集</h4>

当您访问我们的任何网站时，我们的公司服务器将自动记录您访问网站时您的浏览器发送的信息，这些信息可能包括：
<br />
• 您的电脑的IP地址
<br />
• 浏览器类型
<br />
• 在您来到我们网站之前您正在访问的网页
<br />
• 您访问的我们网络内的网页
<br />
• 在这些网页上花费的时间、在我们网站上搜索的物品和信息、登录时间和日期以及其他统计数据
<br />

<h4>问题和联络信息</h4>

如果您想要查看、纠正、修订或删除我们持有的关于您的任何个人信息，或对本政策有任何疑问，请通过以下电子邮件地址与我们
<br />
联络：HelloVictoria.cn@lb.com。
<br />

Copyright© 2017 蕾碧裳贸易（上海） 版权所有 
沪ICP备16041657号
	<script src="../js/common.js"></script>
	</body>
</html>
